{% load static %}
<!DOCTYPE html>
<html>
<head style="background-color: #fff;">
<link rel="stylesheet" href="">
<title>Login</title>
</head>
<body style="background-color: #328f8a; background-image: linear-gradient(45deg,#328f8a,#08ac4b); font-family: 'Roboto', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
  <body>
    <div class="login-page" style="width: 360px; padding: 8% 0 0; margin: auto;">
      <div class="form" style="  position: relative;z-index: 1;background: #FFFFFF; max-width: 360px; margin: 0 auto 100px;padding: 45px; text-align: center; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
        <div class="login" style="  margin-top: -31px; margin-bottom: 26px;">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form" action="{% url 'form_page' %}" method="post">
          {% csrf_token %}
          <input style="outline: 0; background: #f2f2f2; width: 100%; border: 0; margin: 0 0 15px; padding: 15px; box-sizing: border-box; font-size: 14px;" type="text" placeholder="username" required/>
          <input style="outline: 0; background: #f2f2f2; width: 100%; border: 0; margin: 0 0 15px; padding: 15px; box-sizing: border-box; font-size: 14px;" type="password" placeholder="password" required/>
          <input id="login-button" type="submit" name="login" value="Login" style="text-transform: uppercase; outline: 0; background-color: #328f8a; background-image: linear-gradient(45deg,#328f8a,#08ac4b); width: 100%; border: 0; padding: 15px; color: #FFFFFF; font-size: 14px; -webkit-transition: all 0.3 ease; transition: all 0.3 ease; cursor: pointer;">
          <p style="margin: 15px 0 0; color: #b3b3b3; font-size: 12px;" class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
        </form>
      </div>
    </div>
</body>
</body>
</html>